.venv
.idea
querys/__pycache__/
hacaton/utils/__pycache__/__init__.cpython-313.pyc
hacaton/utils/__pycache__/__init__.cpython-313.pyc
hacaton/utils/__pycache__/connection.cpython-313.pyc
querys/__pycache__/dal.cpython-313.pyc
