anitya_schema==2.3.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.11.0
dnspython==2.8.0
dotenv==0.9.9
elastic-transport==8.17.1
elasticsearch==8.19.3
email-validator==2.3.0
executing==2.2.1
fastapi==0.122.0

mysql-connector==2.2.9
mysql-connector-python==9.5.0
mysqlclient==2.2.7
pydantic==2.12.4
pydantic-settings==2.12.0
pydantic_core==2.41.5
python-multipart==0.0.20
uvicorn==0.38.0
